<!-- Chama o head do outro arquivo qeu está em partials -->
<%- include('./partials/head') %>

<body>

  <%- include ('./partials/navbar') %>

  <div class="container">

    <br><br>

    <a href="/">
      <span class="material-icons" style="font-size:50px; color:#673ab7">
        arrow_back
      </span>
    </a>
    <div class="card shadow">

      <div class="card-header bg-purple text-white">

        <h2 class="float-left">
          <span class="material-icons">
            collections_bookmark
          </span>
          Avisos Cadastrados
        </h2>

        <a href="/avisos/novo" class="btn btn-outline-light btn-lg float-right">
          <span class="material-icons">
            campaign
          </span>
          Novo Aviso
        </a>

      </div>

      <div class="card-body p-5">

        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>

              <% if (avisos.length < 1) { %>
              <tr>
                <td colspan="4" class="text-center">
                  <h3>
                    Não há aviso cadastrado
                  </h3>
                </td>
              </tr>
              <% } %>

              <% avisos.forEach(aviso => { %>

              <tr>
                <th scope="row"> <%= aviso.ID_avisos %> </th>
                <td> <%= aviso.titulo %> </td>
                <td> <%= moment(aviso.data).format('DD/MM/YYYY') %> </td>
                <td>
                  <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#excluirModalCenter" onClick="excluir(event,'<%= aviso.ID_avisos %>')">Excluir</button>
                  <a href="/avisos/editar/<%= aviso.ID_avisos %>" class="btn btn-primary">Editar</a>
                </td>
              </tr>

              <% }) %>

            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="excluirModalCenter" tabindex="-1" role="dialog" aria-labelledby="excluirModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deseja realmente excluir esse aviso?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr id="modal-tr-body">
                <td>ID</td>
                <td>Título</td>
                <td>Data</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <form id="form-excluir" method="GET">
            <button type="submit" class="btn btn-primary">Sim</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Inclui os scripts do bootstrap que estão em outro arquivo no partials -->
  <%- include('./partials/scripts_import') %>

  <!-- Meu próprio script de JS -->
  <script>
    function excluir(event, id){

      var tdBotoes = event.target.parentElement
      var trAviso = tdBotoes.parentElement
      var trModal = document.getElementById("modal-tr-body")

      trModal.innerHTML = trAviso.innerHTML
      trModal.removeChild(trModal.lastElementChild)


      var formExcluir = document.getElementById("form-excluir")

      formExcluir.action = "avisos/excluir/"+ id 
    }
  </script>

</body>

</html>
