<!-- Chama o head do outro arquivo qeu está em partials -->
<%- include('./partials/head') %> 
  <body>

    <% if (typeof aviso != 'undefined') { %>
    
      <% var titulo = "Editar Aviso" %>
      <% var rota = "/avisos/editar/"+aviso.ID_avisos %>
      <% var btncanclimp = "cancelar" %> 

    <% } else { %>

      <% var titulo = "Novo Aviso" %>
      <% var rota = "/avisos/novo" %>
      <% var btncanclimp = "limpar" %>

    <% } %>
     

    <%- include ('./partials/navbar') %>
    
    <div class="container">
      
      <br><br>

      <a href="/avisos">
        <span class="material-icons" style="font-size:50px; color:#673ab7">
          arrow_back
        </span>
      </a>
      
      <% if (typeof msg !== 'undefined') { %>
  
        <% if (msg.tipo === 'sucesso') { %>
          <div class="alert alert-success alert-dismissible fade show p-4" role="alert">
            <strong>
              <span class="material-icons">
              done
              </span>
              <%= msg.corpo %>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      
        <% } %>
          
        <% if (msg.tipo === 'erro') { %>
          <div class="alert alert-danger alert-dismissible fade show p-4" role="alert">
            <strong><span class="material-icons">
              close
              </span>
              <%= msg.corpo %>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
        <% } %>
  
      <% } %>


  <div class="card shadow">
  
    <div class="card-header bg-purple text-white">
      <h2>
        <span class="material-icons">
          campaign
        </span>
        <%= titulo %> 
      </h2>
    </div>
  
    <div class="card-body p-5">
  
      <div class="container">
        <form action="<%= rota %>" method="POST">

          <% if (typeof aviso != 'undefined') { %>
    
            <div class="form-group">
              <label for="id">ID</label>
              <input id="id" name="id" type="text" class="form-control" required value="<%= aviso.ID_avisos %> " readonly>
            </div>
      
          <% } %>

          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" type="text" class="form-control" required value="<%= typeof aviso !== "undefined" ? aviso.titulo : null %>" placeholder="Ex: Prova de PWII">
          </div>
          <div class="form-group">
            <label for="data">Data</label>
            <input id="data" name="data" type="date" class="form-control" required value="<%= typeof aviso !== "undefined" ? moment(aviso.data).format('YYYY-MM-DD') : null %>">
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" name="mensagem" cols="40" rows="5" class="form-control" required placeholder="Digite aqui o aviso completo..."><%= typeof aviso !== "undefined" ? aviso.mensagem : null %></textarea>
          </div>
          <div class="form-group text-right">
            <button name="submit" value="<%= btncanclimp %>" type="submit" class="btn btn-secondary"><%= typeof aviso !== "undefined" ? "Cancelar" : "Limpar" %></button>
            <button name="submit" value="cadastrar" type="submit" class="btn btn-primary"><%= typeof aviso !== "undefined" ? "Salvar" : "Cadastrar" %></button>
          </div>
        </form>
      </div>
  
    </div>
  
  </div>
  
  
  
  <!-- Inclui os scripts do bootstrap que estão em outro arquivo no partials -->
  <%- include('./partials/scripts_import') %>
  </div>
  
  </div>

  </body>
</html>
